@use 'base';

header {
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
}

.sliderMode {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-gap: 1rem;
  place-items: center;
}

.switch {
  display: grid;
  place-items: center;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  display: inline-block;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}
