@use 'base';

info {
  font-weight: 400;
}

.customCatInfoForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6rem;
  margin: 0.6rem;
}

.customCatInfoFormInput {
  color: base.$primary-color;
  font-family: "Monserrat", sans-serif;
}

.customCatInfoHide {
  display: none;
}

.customCatInfoFormHide {
  display: none;
}

.addCustomCatInfoButtonHide {
  display: none;
}

.customCatInfo {
  display: grid;
  margin: 0.6rem;
}

.customCatInfo p {
  color: base.$primary-color;
}

.customCatInfoHide {
  display: none;
}
