@use 'base';

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 0.6rem;
  font-weight: 400;
}

.factItem {
  background-color: base.$primary-color;
  color: base.$secondary-color;
  display: grid;
  align-content: space-between;
  width: 100%;
  padding: 1rem;
}

button {
  border: none;
  background-color: base.$secondary-color;
  color: base.$primary-color;
  font-family: "Montserrat", sans-serif;
  padding: 0.6em;
}

button:active {
  background-color: white;
  font-weight: 900;
}

.removeFactButton {
  margin-top: 0.6rem;
  height: 2.2rem;
}

.hideRemoveButton {
  display: none;
}

.addFactItem {
  display: flex;
}

.addFactButton {
  width: 100%;
  height: 100%;
}
