* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }

  header {
      background-color: aliceblue;
      display: flex;
      justify-content: center; 
  }

  main {
      display: grid;
      grid-template-columns: 1fr;
  }

.factItem {
  padding: 1rem;
  border: blue solid 1px;
}

.addFactButton {
  width: 100%;
}