* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

.factItem {
  width: 100%;
  padding: 1rem;
  border: blue solid 1px;
}

.addFactButton {
  width: 100%;
}

@media (min-width: 600px) {
  main {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-items: start;
  }
}
