* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: aliceblue;
  color: cornflowerblue;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
}

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1rem;
  font-weight: 400;
}

.factItem {
  background-color: cornflowerblue;
  color: aliceblue;
  display: grid;
  align-content: space-between;
  width: 100%;
  padding: 1rem;
}

button {
  border: none;
  background-color: aliceblue;
  color: cornflowerblue;
  font-family: "Montserrat", sans-serif;
  padding: 0.6em;
}

button:active {
  background-color: white;
  font-weight: 900;
}

.removeFactButton {
  margin-top: 0.6rem;
  height: 2.2rem;
}

.addFactItem {
  display: flex;
}

.addFactButton {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
